attrs==23.1.0
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
filelock==3.12.2
Flask==2.1.1
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
platformdirs==3.11.0
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
zeep==4.2.1
gunicorn
